<!DOCTYPE html>
<html>

<head>
<title>Login</title>

<style>
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#dfe9f3,#ffffff);
    font-family: Arial;
}

.box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 220px;
    padding: 10px;
    margin: 6px;
}

button {
    padding: 10px 25px;
    cursor: pointer;
}
</style>

</head>

<body>

<div class="box">

<h2>تسجيل الدخول</h2>

<form method="post">
<input name="user" placeholder="Username"><br>
<input type="password" name="pass" placeholder="Password"><br>
<button>Login</button>
</form>

</div>

</body>
</html>
